q1:
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [89]:
n=4
for i in range(n):
    for j in range(i+1):
        print("ineuron",end=' ')
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

q2: 
               ineuron
        ineuron        ineuron
ineuron        ineuron        ineuron
       ineuron          ineuron
               ineuron

In [90]:
n=3
b="ineuron"
for i in range(1,n+1):
    for j in range(n-i):
        print(" "*len(b),end='')
    for j in range(i):
        print(b," "*len(b),end='')
    print()
for i in range(n-1,0,-1):
    for j in range(n-i):
        print(" "*len(b),end='')
    for j in range(i):
        print(b," "*len(b),end='')
    print()

              ineuron
       ineuron        ineuron
ineuron        ineuron        ineuron
       ineuron        ineuron
              ineuron

 q3:

In [91]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"Sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [92]:
# try to extract all the list entity
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [93]:
# try to extract all the dict entity
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'Sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [94]:
# try to extract all the dict entity
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [95]:
# try to extract all the numerical data
q=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                q.append(j)
                print(j,end=' ')
    elif type(i)==dict:
        for j in i:
            if type(j)==int:
                q.append(j)
                print(j,end=' ')
            if type(i[j])==int:
                q.append(i[j])
                print(i[j])

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 3 6
7 8

In [96]:
#try to give summation of all the the numeric data
print(sum(q))

156

In [97]:
#try to filter out all the odd values out of all numeric data
for i in q:
    if int(i)%2!=0:
        print(i,end=' ')

1 3 3 5 3 5 7 45 5 23 3 7

In [98]:
#try to extract ineuron out of this data
for i in l:
    if type(i)!=dict:
        for j in i:
            if j=='ineuron':
                print(j,end=' ')
    else:
        for j in i:
            if j=='ineuron':
                print(j,end=' ')
            if i[j]=='ineuron':
                print(i[j],end=' ')

ineuron ineuron

In [99]:
#try to find out number of occurances of all the data
a=[]
for i in l:
    for j in i:
        a.append(j)
    if type(i)==dict:
        for j in i:
            a.append(i[j])
b=set(a)
for i in b:
    print(i,":",a.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k3 : 1
ineuron : 2
kumar : 1
8 : 1
data science : 1
45 : 1
23 : 1
k2 : 1
Sudh : 1
k1 : 1

In [100]:
#try to find out number of keys in dict element
for i in l:
    if type(i)==dict:
        print("number of keys",":",len(i))

number of keys : 5

In [101]:
#try to filter out all string data
for i in l:
    for j in i:
        if type(j)==str:
            print(j)
    if type(i)==dict:
        for j in i:
            if type(i[j])==str:
                print(i[j])

k1
k2
k3
Sudh
ineuron
kumar
ineuron
data science

In [102]:
#try to find out alphanumeric data 
for i in l:
    for j in i:
        if str(j).isalnum()==1:
            print(j,end=' ')
    if type(i)==dict:
        for j in i:
            if str(i[j]).isalnum()==1:
                print(i[j],end=' ')

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 k1 k2 k3 3 7 Sudh ineuron kumar 6 8 ineuron

In [103]:
# try to find out multiplication of all the individual collection inside dataset
for i in l:
    m=1
    for j in i:
        if type(j)==int:
            m=m*j
    print(m)

24
720
2520
20700
21
1

In [104]:
#try to unwrap all the collection inside and create a flat list
a=[]
for i in l:
    for j in i:
        a.append(j)
    if type(i)==dict:
        for j in i:
            a.append(i[j])
print(a)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'Sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science']